* {
	font-family: FiraCode Nerd Font;
 	font-size: 20;
	font-weight: bold;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background-color: rgba(29, 32, 33, 0.9);
}

tooltip {
	color: #EBDBB2;
	background-color: #282828;
}

#workspaces button {
	color: #458588;
	margin-left: 0.5em;
}

#workspaces button.active {
	color: #fabd2f;
}

#workspaces button.empty {
	color: #a89984;
}

#window {
	margin-left: 0.5em;
}

#cpu {
	color: #d65d0e;
}

#memory{
	color: #fe8019;
}

#pulseaudio{
	color: #fb4934;
}

#battery{
	color: #98971a;
}

#bluetooth{
	color: #458588;
}

#tray,
#cpu,
#memory,
#pulseaudio,
#battery,
#network,
#bluetooth,
#custom-logout {
	margin-right: 0.5em;
}
